################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IdentityWithMariaDB/v16
/.vs/IdentityWithMariaDB/DesignTimeBuild
/IdentityWithMariaDB/bin/Debug/net5.0
/IdentityWithMariaDB/obj
/IdentityWithMariaDB/IdentityWithMariaDB.csproj.user
